.container{
    padding: 20px;
    height: 330px;
}
.image_items{
   overflow: hidden;
    padding: 10px;
   display: grid;
    grid-template:auto auto/repeat(5,1fr);
    gap:10px;
}
ul{
    list-style:none;
}
.image_check{
  
    height: 150px;
    width: 200px; 
    border: 1px solid grey;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

}

.image_check:first-child{
    height: 300px;
    width: 450px;
    grid-column: span 2;
    grid-row: span 2;
}

.image_check img:hover{
    filter: brightness(0.4);
    transition: 0.5s;
}


.image_check img{
    position: absolute;
    height: 100%;
    width: 100%; 
    border-radius: 8px;
    object-fit: fill;
}
.image_check input[type="checkbox"]{
    display: none;
    height: 20px;
    width: 50px;
    top:10px;
    position: absolute;
  
}
.image_check:hover input[type="checkbox"]{
    display: block;
    z-index: 1;
}
.selected-image input[type="checkbox"]{
    display: block;
    z-index: 1;
}
.selected-image img{
    opacity: 0.5;
    transition: 0.5s;
}
.image_items form{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed grey;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(225, 225, 225);
    font-size: large;
    font-weight: 500;
}
.input_file{
    width: 100%;
}
@media screen and (max-width:1100px){
    .container{
        padding: 17px;
    }
    .image_items{
        padding: 7px;
        gap:7px;
    }
    .image_check{  
        height: 120px;
        width: 140px;
    }
    
    .image_check:first-child{
        height: 250px;
        width: 300px;
    }
    .image_check input[type="checkbox"]{
        height: 17px;
        width: 43px;
        top:8px;    
    }
    .image_items form{
        height: 120px;
        width: 140px;
        font-size: large;
        font-weight: 400;
    }
  }
  @media screen and (max-width:800px){
    .container{
        padding: 5px;
        height: 600px;
        overflow-y: scroll;
    }
    .image_items{
        padding: 5px;
        grid-template:auto auto/repeat(4,1fr);
        gap:4px;     
    }
    .image_check{  
        height: 110px;
        width: 120px;
    }
    
    .image_check:first-child{
        height: 220px;
        width: 260px;
    }
    .image_check input[type="checkbox"]{
        height: 14px;
        width: 35px;
        top:5px;    
    }
    .image_items form{
        height: 110px;
        width: 120px;
        font-size: medium;
        font-weight: 300;
    }
  }
  @media screen and (max-width:550px){
    .container{
        padding: 5px;
        height: 650px;
        overflow-y: scroll;
    }
    .image_items{
        padding: 5px;
        grid-template:auto auto/repeat(2,1fr);
        gap:7px;
        
    }
    .image_check{  
        height: 100px;
        width: 180px;
    }
    
    .image_check:first-child{
        height: 200px;
        width: 370px;
    }
    .image_check input[type="checkbox"]{
        height: 10px;
        width: 25px;
        top:3px;    
    }
    .image_items form{
        height: 100px;
        width: 180px;
        font-size: small;
        font-weight: 200;
    }
  }